<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanyi.luckbag">

    <application
        android:name=".activity.MatrixApplication"
        android:allowBackup="true"
        android:icon="@drawable/default_yanyi_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.YanyiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CountActivity"
            android:launchMode="singleTask"
            android:theme="@style/YanyiTransparent" />
        <activity
            android:name=".activity.CountlDetailActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".service.YanYiLuckService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/enable_luckbag" />
        </service>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
